@use '../base';

@include base.piano; 
@include base.disco;

.bottom-bar {
    @include base.flex(space-between, stretch);
    flex-wrap: wrap; 
    gap: 1rem;
}
 
.event-log {
    @include base.flex(center, stretch, column);
    width: 60%; 
    flex-grow: 1; 
    border-radius: .3rem; 
    background-color: base.$medium;   
    padding: .5rem;
    text-align: center; 
    font-size: .9rem; 

    p {color: base.$yellow;} 

    h5 {
        margin: .3rem;  
        font-size: .9rem; 
        color: base.$purple; 
    }
}

.piano-corner {
    @include base.flex(center, center, column);
    flex-grow: 1; 
    border-radius: .3rem; 
    background-color: base.$medium; 
    position: relative;
    padding-inline: 1rem;

    h5 { 
        margin: .5rem;
        text-align: center;    
    }
}

.piano {
    display: flex;
    width: 80%;
    margin-inline: auto; 
    height: 70px;    
    max-width: 400px;    
    position: relative;
    

    button { 
        width: calc(100% / 7);
        height: 100%;
        background-color: base.$dark; 
        border: 1px solid grey; 
    }

    button.flat {
        position: absolute; 
        height: 50%;  
        background-color: base.$medium; 
    }
 
    #d-flat {
        left: 5%; 
    }

    
    #e-flat {
        left: 20%;   
    }

    
    #g-flat { 
        left: 50%;    
    }

    
    #a-flat {
        left: 65%;  
    }

    
    #b-flat {
        left: 80%;   
    }
} 

.animate {
    animation: pianoAnimate 1s;  
}


.select-tune {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-block: .4rem; 

    button {
        background-color: base.$dark;
        border-radius: 50%;
        aspect-ratio: 1; 
        width: 2px;  
        transition: .2s; 
 
        &:hover {
            background-color: rgba($color: base.$neon-cyan, $alpha: .6); 
            box-shadow: 0 0 5px;
        }
    }

    button.active {
        background-color: base.$neon-cyan; 
        box-shadow: 0 0 5px;  
    }
}

.track-title {
    @include base.flex(center, center);
    gap: .35rem;   
    font-size: .9rem;
    max-width: 250px;   
    text-align: center;
    margin: auto;

    img {
        width: 1rem ;
    }
}
 
#piano-btn {
    width: 1.5rem; 
    display: block;
    margin: auto; 

    img {
        max-width: 100%;  
    }
}

.track-credits-modal {
    position: fixed; 
    background-color: base.$dark;
    box-shadow: 0 0 25px #000000d4;       
    padding: 1rem;  
    border-radius: .3rem;
    word-wrap: break-word; 
    top: 50%;
    left: 50%; 
    width: 90%; 
    max-width: 450px;
    transform: translate(-50%, -50%);        

    .track-info { 
        color: base.$neon-green; 
        padding-bottom: 1.25rem;    
    }

    p {
        color: base.$yellow; 
    }  

    a {
        color: base.$neon-pink; 
    }

    .close {
        display: block;
        margin-left: auto;
    }
}


.bottom-bar.disco {
    animation: discoBg-2 8s; 
}

@media screen and (min-width: 1000px) {
    .piano-corner {
        width: 40%;   
    }

    .event-log {
        width: 55%; 
    }
}