@use '../base';

#cargo-info {
    padding: .5rem;
}

#cargo-list li {
      @include base.list2;
} 

.item-name {
    color: base.$yellow;
    @include base.flex(space-between, center);
    gap: .75rem; 
    font-size: 1.2rem; 
}

.item-amount {
    color: base.$neon-pink;
    font-weight: bold;
    font-size: 1.1rem; 
}

.item-tag {
    background-color: base.$purple;
    color: base.$medium;
    padding: .15rem .3rem; 
    border-radius: .3rem;
    font-size: .9rem; 
    text-shadow: none;
    font-weight: bold; 
}

.item-desc {
    font-size: .95rem; 
}

@media screen and (min-width: 600px) {
    #cargo-info {
        padding: 1.5rem; 
    }
}