@use '../base';

@include base.disco;

// coommand line
.command-line {
    min-height: 200px;   
    @include base.flex(flex-end, stretch, column);
    height: calc(100% - 1rem);
    word-wrap: break-word;
    font-size: .9rem; 
 
    .instructions p {  
        font-size: .9rem;
        color: base.$purple; 
    } 

    .instructions p.disco {
        animation: discoText 7s;
    }

    .console {
        overflow: auto; 
        padding: .5rem;
        max-height: 500px; 
        scroll-behavior: smooth;
        flex-grow: 1; 
    }
 
    #command-line { 
        background-color: transparent;
        border: none;
        border-bottom: 1px solid base.$neon-cyan;

        &::placeholder {
            color: rgba($color: base.$neon-cyan, $alpha: .6);   
        }
    }

} 

input:focus {
    outline: none;
}

body.keyboard-navigation input:focus {
    outline: 2px solid base.$neon-cyan;  
}
