@use '../base';

#locations-info {
    padding: .5rem;
}

#location-list li {
    @include base.list2;
} 

.location-name {
    color: base.$yellow;
    @include base.flex(space-between, center);
    gap: .75rem; 
    font-size: 1.2rem; 
}

.location-desc {
    font-size: .95rem; 
}

@media screen and (min-width: 600px) {
    #locations-info {
        padding: 1.5rem; 
    }
} 