@use '../base';

#settings-info {
    padding: .5rem;

    h3 {
        color: base.$neon-green;
    }
}

.credits-settings p {
    font-size: .9rem; 

    span {
        color: base.$yellow;
    }

    a {
        color: base.$neon-pink;
    }
}

.sound-settings {
    @include base.flex(flex-start, center);
    gap: 1rem;  
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;   
    height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    background-color: base.$medium;     
    border-radius: 1rem;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;  
  aspect-ratio: 1;
  left: 4px; 
  bottom: 2px;  
  background-color: rgba($color: base.$neon-cyan, $alpha: .5);    
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
} 

input:checked + .slider {
  background-color: base.$neon-cyan;
}

input:focus + .slider {
    outline: 3px solid base.$neon-pink;        
  box-shadow: 0 0 1px base.$neon-cyan;
}

input:checked + .slider:before {
    background-color: base.$medium;
  -webkit-transform: translateX(40px);   
  -ms-transform: translateX(40px);  
  transform: translateX(26px);      
} 

@media screen and (min-width: 600px) {
    #settings-info {
        padding: 2rem;
    }
}