@use '../base';


// ship system

#ship-systems-info {
    padding: .5rem;
}

.stats-fuel, 
.stats-shields,
.stats-hull,
.stats-ammo,
.stats-morale { 
    @include base.flex(flex-start, center);
    gap: 1rem; 
    margin-bottom: .75rem; 
}

.stats-speed span {
    color: base.$neon-pink; 
}

.good {
    color: base.$neon-green; 
}

.cautions {
    color: base.$yellow;
}

.critical {
    color: base.$orange; 
}

.glitch {
    color: base.$neon-pink;
}

.bar-visualizer {
    width: 100px; 
    display: flex;
    gap: .25rem;
    height: 25px;  
}

.bar {  
    --fill: 0;
    width: 10px;    
    height: 100%; 
    background-color: base.$medium;   
    display: inline-block; 
    background: linear-gradient(to right, base.$neon-green var(--fill), base.$medium var(--fill));
    transition: .8s; 
} 

.bar.complete {
    background-color: base.$neon-green;    
    box-shadow: 0 0 5px;
} 

.level-visualizer {
    width: 150px;
    height: 10px;
    background-color: base.$medium; 
    position: relative;
}

.inner-level {
    background-color: base.$purple;  
    height: 100%;  
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px base.$purple; 
    transition: .8s; 
}


@media screen and (min-width: 600px) {
    #ship-systems-info {
    padding: 1.5rem; 
  }
}