@use '../base';    

@include base.marquee;

// topbar  
.container .top-bar {
    @include base.flex(space-between, center);
    overflow: hidden;
    gap: .75rem;  
}  

.current-status { 
    padding: .5rem; 
    letter-spacing: .06rem; 
    width: 30%; 
    overflow: hidden; 
    font-size: .9rem;  
    
    span {
        white-space: nowrap;   
        display: inline-block;   
        transform: translateX(120%);    
        animation: marqueeAnimation 10s steps(20) both infinite; 
        color: base.$orange; 
        font-weight: bold;      
    }
}

#disco-switch { 
    img {
        width: 1.5rem;   
    }
}

.top-bar-shipname {
    font-weight: bold;  
    text-transform: uppercase; 
    letter-spacing: .02rem;
    color: base.$yellow;   
}

@media screen and (min-width: 600px) {
    .top-bar-shipname {
        font-size: 1.8rem; 
        letter-spacing: .1rem; 
    }
}