@use 'colors';

@mixin marquee {
    @keyframes marqueeAnimation {
        to {
            transform: translateX(-120%); 
        }
   }
}

@mixin piano {
    @keyframes pianoAnimate {
        50% {
            background-color: colors.$neon-cyan;   
        }
    }
}

@mixin disco {
    @keyframes discoBg-2 {
        7%, 17%, 27%, 40%, 54%, 74%, 80%, 90%, 95% {
            background-color: colors.$yellow; 
        } 

        13%, 18%, 20%, 32%, 43%, 53%, 77%, 83%, 92%  {
            background-color: colors.$dark;  
        }
    }

    @keyframes discoText {
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        color: colors.$neon-green;
    }
    
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        color: colors.$neon-pink;
    }

    7%, 17%, 27%, 37%, 47%, 57%, 67%, 77%, 87%, 97% {
        color: colors.$neon-cyan;
    }

}


@keyframes discoBtn {
    5%, 20%, 40%, 50% {
        background-color: colors.$orange;
    }

    10%, 30%, 60%, 70% {
        background-color: colors.$purple;
    }

    15%, 25%, 35%, 45%, 55%, 65%, 90% { 
        background-color: colors.$yellow;
    }
}

@keyframes discoBg {
    5%, 15%, 25%, 40%, 50%, 70%, 80%, 87%, 95% {
        background-color: colors.$neon-pink; 
    }

    13%, 17%, 20%, 30%, 43%, 53%, 75%, 83%, 90%  {
        background-color: colors.$dark; 
    }
}

}