$dark: #002439; // note: $dark is actually lighter than $medium, but i noticed it late and kept it...
$neon-cyan: #85ffe2;  // is all cyan neon...?
$purple: #826ced; 
$neon-pink: #ff54a6;    
$neon-green: #81ec86;  
$medium: #040823;   
$orange: #ff7f4c;  
$yellow: #ffec70;     