@import '_colors.scss';

#cargo-info {
    padding: .5rem;
}

#cargo-list li {
    background-color: rgba($color: $medium, $alpha: .6);
    border-radius: .3rem;
    padding: .75rem; 
    margin-bottom: .75rem;  
} 

.item-name {
    color: $yellow;
    display: flex;
    align-items: center;
    gap: .75rem; 
    justify-content: space-between; 
    font-size: 1.2rem; 
}

.item-amount {
    color: $neon-pink;
    font-weight: bold;
    font-size: 1.1rem; 
}

.item-tag {
    background-color: $purple;
    color: $medium; 
    // color: white;   
    padding: .15rem .3rem; 
    border-radius: .3rem;
    font-size: .9rem; 
    text-shadow: none;
    font-weight: bold; 
}

.item-desc {
    font-size: .95rem; 
}

@media screen and (min-width: 600px) {
    #cargo-info {
        padding: 1.5rem; 
    }
}