@import '_colors.scss';

#room-list li {
    position: relative;
    width: max-content; 
    margin-bottom: .5rem;

    &::after {
        position: absolute;
        content: '';
        width: 0%; 
        height: 1.5px; 
        bottom: -12%;   
        left: 0;
        transition: .4s; 
        background-color: $neon-cyan; 
        box-shadow: 0 0 5px; 
    }

    &:hover::after {
        width: 80%;  
    }
}

.room-name span {   
    color: $neon-pink;
    font-size: 1.1rem;  
} 

#room-card {
    padding: .5rem;
}

#room-card:not(.hide) {
    background-color: rgba($color: $medium, $alpha: .6);
    border-radius: .4rem;   
   
    span {
        color: $neon-pink; 
    }
}

#back-to-room-list {
    border: 1px solid;
    color: $orange; 
    border-radius: .3rem;
    padding: .25rem .5rem;  
    display: block;
    margin-left: auto; 
    transition: .5s; 

    &:hover {
        background-color: $orange;
        color: $medium; 
    }
}

#go-to-button {
    background-color: $neon-green;
    color: $medium; 
    border-radius: .3rem;
    font-weight: bold;
    font-size: .95rem; 
    transition: .3s;

    &:hover {
        background-color: $neon-cyan;
    }
}

#room-message {
    color: $purple; 
}


@media screen and (min-width: 600px) {
    #room-info {
        padding: 2rem;
    }

    #room-card {
        padding: 1.5rem;      
    }
}