@import '_colors.scss';

// topbar  
.container .top-bar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    overflow: hidden;
    gap: .75rem; 
}  

.current-status { 
    padding: .5rem; 
    letter-spacing: .06rem; 
    width: 30%; 
    overflow: hidden; 
    font-size: .9rem;  
    
    span {
        white-space: nowrap;   
        display: inline-block;   
        transform: translateX(120%);    
        animation: marquee 10s steps(20) both infinite; 
        color: $orange; 
        font-weight: bold;      
    }
}

@keyframes marquee {
    to {
        transform: translateX(-120%); 
    }
}

.top-bar-shipname {
    font-weight: bold;  
    text-transform: uppercase; 
    letter-spacing: .02rem;
    color: $yellow;   
}


@media screen and (min-width: 600px) {
    .top-bar-shipname {
        font-size: 1.8rem; 
        letter-spacing: .1rem; 
    }
}