@import '_colors.scss';
@import '_top-bar.scss';
@import '_generics.scss';
@import '_crew.scss';
@import '_systems.scss';
@import '_cargo.scss';
@import '_rooms.scss';
@import '_colors.scss';
@import '_locations.scss';
@import '_missions.scss';
@import '_bottom-bar.scss';
@import '_command-console.scss';
@import '_settings.scss';


* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, mon ospace; 
    color: $neon-cyan;
}

body.loading {
  visibility: hidden;
} 

body {
    margin: 0;
    background-color: $dark;
    padding: 1rem; 
    text-shadow: 0 0 5px; 
    font-size: .95rem;  
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent; 
}

ul {
    list-style-type: none; 
    padding-left: 0; 
}

.purple {
    color: $purple;
}

.green {
    color: $neon-green; 
} 

.pink {
    color: $neon-pink;
}

.yellow {
    color: $yellow;
}

.orange {
    color: $orange;
}

.emoji {
    text-shadow: none; 
}

.container {
    background-color: $medium; 
    padding: 1rem;  
    border-radius: .5rem;
    display: grid;
    gap: .5rem; 
}

.top-bar,
.left-sidebar,
.right-sidebar,
.bottom-bar,
.center-panel,
.collapsible-nav { 
    background-color: $dark;  
    padding: .5rem;
    border-radius: .5rem; 
    overflow: auto;   
}

.left-sidebar {
    display: none;
}

.hide {
    display: none; // toggle on click
}


#menu-button { 
    width: 2rem;  
    img {
        max-width: 100%;
    }
}

.center-panel.disco {
    animation: discoBg 8s;    
}

@keyframes discoBg {
    5%, 15%, 25%, 40%, 50%, 70%, 80%, 87%, 95% {
        background-color: $neon-pink;
    }

    13%, 17%, 20%, 30%, 43%, 53%, 75%, 83%, 90%  {
        background-color: $dark; 
    }
}

// navbar


.left-sidebar,
.collapsible-nav {  
    ul {  
        display: flex;
        flex-direction: column;
        gap: .75rem;  

        li {
            border-radius: .25rem;
            background-color: $neon-green;  
            color: $medium;       
            padding: .25rem; 
            box-shadow: 0 0 5px $neon-green;
            transition: .3s;  

            &:hover { 
                background-color: $neon-cyan; 
                transform: scale(.99);           
            }

            button {
                border: none;
                background-color: transparent; 
                width: 100%; 
                text-align: left; 
                color: inherit;
                font-weight: bold;
                text-transform: uppercase;   
            }  
        }

        li.disco {
                animation: discoBtn 7s linear;     
                animation-delay: var(--delay);   
            } 
 
    }
}

@keyframes discoBtn {
    5%, 20%, 40%, 50% {
        background-color: $orange;
    }

    10%, 30%, 60%, 70% {
        background-color: $purple;
    }

    15%, 25%, 35%, 45%, 55%, 65%, 90% { 
        background-color: $yellow;
    }
}

.wrapper-div {
    margin-block-end: 3rem;    
}

*::-webkit-scrollbar {
  width: 5px;  
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($color: $medium, $alpha: .6);  
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba($color: $medium, $alpha: .6) transparent; 
}


@media screen and (min-width: 1000px) {  
    body {
        font-size: 1.1rem;  
    }

    button {
        font-size: inherit; 
    }

    .left-sidebar {
        display: inline-block;
    } 

    #menu-button, .collapsible-nav {
        display: none;
    }

    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr); 
        height: 900px;    
        max-width: 1500px;  
        margin-inline: auto;  
    }

    .top-bar {
        grid-column: 1 / 13;
        grid-row: 1 / 2;  
    }

    .left-sidebar {
        grid-column: 1 / 3;
        grid-row: 2 / 13; 
    }

    .center-panel {
        grid-column: 3 / 10;
        grid-row: 2 / 10;   
    }

    .right-sidebar {
        grid-column: 10 / 13;  
        grid-row: 2 / 10; 
    }

    .bottom-bar {
        grid-column: 3 / 13; 
        grid-row: 10 / 13;   
    }

}