@import '_colors.scss';
@import '_top-bar.scss';
@import '_generics.scss';
@import '_crew.scss';
@import '_systems.scss';
@import '_cargo.scss';
@import '_rooms.scss';
@import '_colors.scss';
@import '_locations.scss';
@import '_missions.scss';
@import '_bottom-bar.scss';


$dark: #002439; 
$neon-cyan: #85ffe2;
$purple: #826ced;
$neon-pink: #ff54a6;
$neon-green: #81ec86;  
$medium: #040823;
$orange: #ff7f4c; 

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, mon ospace; 
    color: $neon-cyan;
}

body.loading {
  visibility: hidden;
} 

body {
    margin: 0;
    background-color: $dark;
    padding: 1rem; 
    text-shadow: 0 0 5px; 
    font-size: .95rem;  
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent; 
}

ul {
    list-style-type: none; 
    padding-left: 0; 
}

.container {
    background-color: $medium; 
    padding: 1rem;  
    border-radius: .5rem;
    display: grid;
    gap: .5rem; 
}

.top-bar,
.left-sidebar,
.right-sidebar,
.bottom-bar,
.center-panel,
.collapsible-nav { 
    background-color: $dark;  
    padding: .5rem;
    border-radius: .5rem; 
    overflow: auto;   
}

.left-sidebar {
    display: none;
}

.hide {
    display: none; // toggle on click
}

// navbar
.left-sidebar,
.collapsible-nav {  
    ul {  
        display: flex;
        flex-direction: column;
        gap: .75rem;  

        li {
            border-radius: .25rem;
            background-color: $neon-green;  
            color: $medium;       
            padding: .25rem; 
            box-shadow: 0 0 5px $neon-green;
            transition: .3s;  

            &:hover {
                background-color: $neon-cyan; 
                transform: scale(.99);           
            }
            

            button {
                border: none;
                background-color: transparent; 
                width: 100%; 
                text-align: left; 
                color: inherit;
                font-weight: bold;
                text-transform: uppercase;   
                
            }
        }
    }
}

// coommand line
.command-line {
    min-height: 200px;   
    display: flex;
    height: calc(100% - 1rem);
    flex-direction: column;
    word-wrap: break-word;
    justify-content: space-between; 

    .console {
        overflow: auto; 
        padding: .5rem;
        max-height: 500px; 
        scroll-behavior: smooth;
    }
 
    #command-line {  
        margin-top: auto;  
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $neon-cyan;
    }

} 

input:focus {
    outline: none;
}

body.keyboard-navigation input:focus {
    outline: 2px solid $neon-cyan;  
  }


@media screen and (min-width: 600px) {
    body {
        font-size: 1.1rem;  
    }

    button {
        font-size: inherit; 
    }

    .left-sidebar {
        display: inline-block;
    } 

    #menu-button, .collapsible-nav {
        display: none;
    }

    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr); 
        height: 800px;    
        max-width: 1500px;  
        margin-inline: auto;  
    }

    .top-bar {
        grid-column: 1 / 13;
        grid-row: 1 / 2;  
    }

    .left-sidebar {
        grid-column: 1 / 3;
        grid-row: 2 / 13; 
    }

    .center-panel {
        grid-column: 3 / 10;
        grid-row: 2 / 10;   
    }

    .right-sidebar {
        grid-column: 10 / 13;  
        grid-row: 2 / 10; 
    }

    .bottom-bar {
        grid-column: 3 / 13; 
        grid-row: 10 / 13;   
    }

}